.container-fluid {
  width: 100%;
  background: linear-gradient(to bottom, #e9ebee, #f5e2da);
}

.login-button {
  background: #282c34 !important;
  color: white;
  border-radius: 10px;
  padding: 12px 0;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.login-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  transform: scale(1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.login-button .spinner-border {
  margin-right: 0.5rem;
}
